.loader-container {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  grid-row: 1 / 4;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f9aa33;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40vh;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
