.chat__input-container {
  height: 8vh;
  background-color: #e5e5e5;
  padding: 0 5%;
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat__input {
  height: 85%;
  width: 100%;
  border: none;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.chat__input:focus {
  outline: none;
  background-color: #d6d6d6;
}

.chat__input-btn {
  height: 50%;
  width: 75%;
  justify-self: center;
  border: none;
  border-radius: 5px;
  background-color: #4a6572;
  color: #e5e5e5;
}

.chat__input-btn:hover {
  cursor: pointer;
  background-color: #344955;
}

.chat__input-btn:focus {
  outline: none;
  background-color: #232f34;
}