body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  color: #132127;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 75px auto 50px;
  background: linear-gradient(0deg, #e5e5e5 70%, #4a6572 30%);
}

.footer {
  text-align: center;
  margin: auto 0 5px 0;
}
